<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bookmarks</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
            <li routerLinkActive="active">
                <a [routerLink]="['/bookmarks']">Marcadores</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/about']">Acerca de</a>
            </li>
            <li routerLinkActive="active"><a [routerLink]="['/contact']">Contacto</a></li>
        </ul>
    </div>
</nav>