<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="postlist">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left">{{note.titulo}}</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                        <small><em>{{note.fecha}}</em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        {{note.nota}}
                    </div>

                    <div class="panel-footer">
                        <span class="label label-default">{{note.titulo}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>